.list {
  margin-bottom: 0;
}

.challenge-card-header{
  padding:0px;
}

.label-text{
  font-size: 120%;
  text-align: center;
}

p {
  text-align: justify;
}

h2 {
  font-weight: bold;
  text-align: justify;
}

.info {
  padding: 20px;
  text-align: justify;
  font-style: italic;
  font-size: 80%;
}

img {
  height: auto;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-button {
  display: block;
}

ion-card {
  display: block;
  width: 100%;
}
