.dailyCh-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.dailyCh-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

ion-button{
  display: block;
}

.challenges {
  border-radius: 10px;
  padding: 20px;
  background: var(--ion-background-color, #fff);
}

.challenges .challenges-text{
  text-align: center;
}

ion-input {
  border: solid 1px rgb(139, 136, 136);
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
